.cardDiv {
    display: flex !important;
    align-items: start;
}

.custombutton{
    background-color: #321fdb;
    border: 5px;
    padding: 6px 12px 6px 12px;
    color: white;
    line-height: 24px;
    font-size: 16px;
}

.cardStyle {
    width: 18rem;
    height: 172px;
    margin: 15px;
    display: inline-block;
}

.cardsWrapperMeetings {
    display: flex;
}