.titlebar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.titlebarname {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px !important;
    padding: 10px;
}

.detailsbox {
    border: 2px;
    border-color: black;
    border-radius: 5px;
    width: 40%;
    border-style: solid;
    padding: 18px;
    margin: 10px;
}

